<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>My shows</title>
</head>
<body>
    

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">my Shows</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="tel:5541251234" class="text-sm  text-gray-500 dark:text-white hover:underline">{% if user.is_authenticated %}<p>{{ user.get_username }}</p>{% else %}<p>Please log in.</p>{% endif %}</a>
            <a href="#" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">{% if user.is_authenticated %}Logout{% else %} Login {% endif %}</a>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="{% url 'watchlist' %}" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="{% url 'search' %}" class="text-gray-900 dark:text-white hover:underline">Search</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
<div class="self-center p-3 container mx-auto">
  <h1 class="text-3xl font-bold my-6">My Shows</h1>

    {% block content %}

    {% endblock content %}
</div>
</body>
</html>